* {
  box-sizing: border-box;
}

#time {
  text-align: center;
}

#round {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  height: 39rem;
}

img {
  width: 10rem;
  height: 9.2rem;
  border: solid 2px #EA659F;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}
