* {
  box-sizing: border-box;
}

#time {
  text-align: center;
}

#round {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 33px;
}

img {
  width: 156px;
  height: 140px;
  border: solid 2px rgb(242, 203, 218);
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}
