@font-face {
  font-family: 'OngleebDaisy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/Ownglyph_daisy-Rg.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'OngleebDaisy';
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.main_section {
  height: 100vh;
  background: url("main.image/main1.png") center/cover no-repeat;
  position: relative;
  padding: 5vw;
}

.main_text {
  position: absolute;
  top: 15%;
  left: 3.9%;
  font-weight: bold;
  z-index: 1;
  color: #3ABEEE;
  -webkit-text-stroke: 2px #fff;
  font-size: 6.2rem;
  opacity: 0;
  animation: slideDown 0.3s ease-out forwards;
  animation-delay: 0.2s;
}

.main_text span {
  color: #EA659F;
}

.sub_text {
  position: absolute;
  top: 35%;
  left: 6.6%;
  z-index: 1;
  font-size: 1.2rem;
  padding: 0.7rem 0;
  opacity: 0;
  animation: slideDown 0.3s ease-out forwards;
  animation-delay: 0.5s;
}

.sub_text p {
  margin-bottom: 2rem;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  position: absolute;
  top: 60%;
  left: 16%;
}

button {
  padding: 1rem 0.2rem;
  width: 8.5rem;
  cursor: pointer;
  background-color: #F6B81A;
  color: #fff;
  border: none;
  border-radius: 2rem;
  margin: 1.2rem;
  font-size: 1.7rem;
}

#start-btn:hover {
  transform: scale(1.1);
}


/* 반응형 */

@media screen and (max-width: 578px) {
  .main_section {
    background-image: url(main.image/main3.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* .main_section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.502);
  } */

  .main_text {
    font-size: 3.8rem;
    top: 37%;
    left: 11.3%;
  }

  .sub_text {
    font-size: 0.9rem;
    top: 46%;
    left: 12%;
    line-height: 0.8rem;
  }

  .sub_text p {
    margin-bottom: 2rem;
  }
  
  .btn {
    top: 60%;
    left: 33.5%;
    cursor: pointer;
  }

  button {
    padding: 0.8rem 0.9rem;
    width: 5rem;
    font-size: 1rem;
  }
}