@font-face {
  font-family: 'OngleebDaisy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/Ownglyph_daisy-Rg.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'OngleebDaisy';
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main_container {
  position: relative;
}

.main_img {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.main_text {
  position: absolute;
  top: 15%;
  left: 3.9%;
  font-weight: bold;
  z-index: 1;
  color: #3ABEEE;
  -webkit-text-stroke: 2px #fff;
  font-size: 6.2rem;
  opacity: 0;
  animation: slideDown 0.3s ease-out forwards;
  animation-delay: 0.2s;
}

.main_text span {
  color: #EA659F;
}

.sub_text {
  position: absolute;
  top: 36%;
  left: 6%;
  z-index: 1;
  font-size: 1.1rem;
  padding: 0.7rem 0;
  opacity: 0;
  animation: slideDown 0.3s ease-out forwards;
  animation-delay: 0.5s;
}

.sub_text p {
  margin-bottom: 2.5rem;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  position: absolute;
  top: 68.5%;
  left: 16.6%;
}

button {
  padding: 0.8rem 0.1rem;
  width: 8.2rem;
  cursor: pointer;
  background-color: #F6B81A;
  color: #fff;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem;
  font-size: 1.7rem;
}

#start-btn:hover {
  transform: scale(1.1);
}
